.redG{
    background: #9b1f1f;
    /* ! old Browser */
    background: 
    -moz-linear-gradient(-45deg, #9b1f1f 0%, 
    #d13327 40%, #c92520 60%, #ea7e7e 100%);
    /* ! FF3.6 ~ latestVersion */
    background:
    -webkit-linear-gradient(-45deg, #9b1f1f 0%, 
    #d13327 40%, #c92520 60%, #ea7e7e 100%);
    /* ! Chrome 10 ~ latest.Ver, Safari 5.1 ~ latest.Ver */
    background:
    linear-gradient(135deg, #9b1f1f 0%, 
    #d13327 40%, #c92520 60%, #ea7e7e 100%);
    /* !w3c, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b1f1f', endColorstr='#ea7e7e',GradientType=1);
    /* !IE6-9 fallback on horizontal Gradient */
}