html,body{
    margin:0; height:100%; font-family: Arial, Helvetica, sans-serif;
}
.wrap{height:100%; background-color:black;}
.wrap .loginBox{
    width:50%; height:50%;
    position: absolute;
    top:25%; left:25%;
    background-color:#262626;
}
.wrap .loginBox nav{
    margin-bottom: 25px;
}
.wrap .loginBox nav ul{margin:0; padding:0;}
.wrap .loginBox nav ul:after{
    content:''; display: block; visibility: hidden;
    clear: both;
}
.wrap .loginBox nav ul li{
    float:left; width:25%; display:block;
    background-color:#3b3b3b;
}
.wrap .loginBox nav ul li a{
    display: inherit; text-decoration: none;
    padding:10px 0;
    text-align:center;
    color: #ea0e52; font-size: 12px;
    text-transform: capitalize;
}
.wrap .loginBox nav ul li a:hover,
.wrap .loginBox nav ul li.currentStat a{
    background-color:#ea0e52; color: white;
}
.wrap .loginBox h1{
    margin:0 0 25px 0;
    font-size:14px; color: white;
    text-transform: capitalize; text-align:center;
}
.wrap .loginBox fieldset{
    border: none; padding: 0;
    width: 90%; margin:0 auto;
}
.wrap .loginBox fieldset ul{
    margin:0; padding:0; list-style:none;
}
.wrap .loginBox fieldset ul li{
    margin-bottom:25px;
    overflow: hidden;
}
.wrap .loginBox fieldset ul li >*{
    float:left;
}
.wrap .loginBox fieldset ul li label{
    display: block; width:15%; text-align: center;
    background-color:#ea0e52; padding:12px 0;
    font-size: 12px; text-transform: uppercase;
    font-weight:bold; color:white;
}
.wrap .loginBox fieldset ul li input{
    width:80%; border:none;
    font-size:12px; padding:12px 2.5%;
}
.wrap .loginBox fieldset ul li input:focus{
    background-color:#ea0e52; color:white;
}
.wrap .loginBox input[type='submit']{
    background-color: #3e3e3e;
    width: 90%; margin:0 auto; color:#ea0e52;
    border:none;  display:block; padding:10px 0;
}
.wrap .loginBox input[type='submit']:hover{
    background-color:#ea0e52; color: white;
}